/*Large desktops and laptops*/
@media (min-width: 1192px) {
    .HeaderImg{
        height: 2em;
        width: auto;
    }
    .Icon {
        /*margin-top: 40px;*/
        margin-top: 2%;
    }

    p {
        font-size: 1em;
    }

    ListItem {
        font-size: 1em;
    }

    TextField {
        font-size: 1em;
    }

    .container {
        width: 600px;
    }

    .EditBtn {
        position: absolute;
        right: 3.2%;
        bottom: 3%;
    }

    .InfoBtn {
        position: absolute;
        right: 11%;
        top: 2%;
    }

}

/*Landscape tablets and medium desktops eg. laptop with HidPI Screen */
@media (min-width: 992px ) and (max-width: 1192px) {
    .HeaderImg{
        height: 2em;
        width: auto;
    }
    .Icon {
        /*margin-top: 40px;*/
        margin-top: 2%;
    }

    h1 {
        font-size: 1.5em;
        font-stretch: expanded;
    }

    h3{
        font-size: 1.4em;
    }

    h4 {
        font-size: medium;
        font-stretch: expanded;
    }

    p{
        font-size: 1em;
    }



    .InfoBtn {
        position: absolute;
        right: 20%;
        top: 2%;
    }


    .EditBtn {
        position: absolute;
        right: 3.2%;
        bottom: 3%;
    }
}

/*Portrait tablets and small desktops eg. Ipad*/
@media (min-width: 768px) and (max-width: 991px) {
    .HeaderImg{
        height: 2em;
        width: auto;
    }
    .Icon {
        /*margin-top: 40px;*/
        margin-top: 2%;
    }

    Divider {
        margin: auto;
    }

    h1 {
        font-size: 1.9em;
        font-stretch: expanded;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1em;
    }

    p {
        font-size: small;
    }

    .CustomP{ /*Class to adapt paragraph for letters in Ipad mode*/
        width: 30em;
    }

    .EditBtn {
        position: absolute;
        right: 13.2%;
        bottom: 3%;
    }


    .InfoBtn {
        position: absolute;
        right: 17%;
        top: 2%;
    }

}

@media(max-width:767px){
    .HeaderImg{
        height: 1em;
        width: auto;
    }

    .Icon {
        /*margin-top: 40px;*/
        margin-top: 2%;
    }

    h3{
        font-size: 1.7em;
    }
    .hideFromMobile{
        visibility: hidden;
    }

    .EditBtn {
        position: absolute;
        right: 34.2%;
        bottom: 0%;
    }

    .GamificationBar {
        background-color: #d1e6c4;
        width: 18em;
    }

    .ProfileProgress {
        margin-top: 1em;
    }

    .InfoBtn {
        position: absolute;
        right: 7%;
        top: 2%;
    }

}


.CardHeader {
    background-color: #d1e6c4;
    padding-top: 15px;
    padding-bottom: 15px;
    /*margin-right: 1em;*/
    /*margin-left: 1em;*/
    /*width: 100%;*/
}

.Li.Info {
    paddingTop: 0px;
    width: 620px;
    left: 38px;
    bottom: 15px;
}

.Li.Header{
    color:   #000000;
}

.MenuItem{
    color: black;
}

.HLine {
    margin-right: 1em;
    margin-left: 1em;
}

.Feed {
    margin-bottom: 3em;
}

.CardText{
    padding-bottom: 1em;
    width: 100%;
    height: 100%;
    background-color: #f4f8ec;
}

.CardPicture.Medium{
    width:  60px;
    height: auto;
}

.CardPicture.Small{
    width: 48px;
    height: auto;
}

.EditInfo {
    margin-left: 1.5em;
}


.ReservationBtn{
    text-align:center;
}

.ProgressCircle{
    text-align:center;
    padding-bottom: 20px;
}
.ProgressBar{
    text-align: center!important;
    justify-content: center;
    margin:auto;
    width: 75%;
}
.react-sweet-progress {
    /*width: 75%!important;*/
}

@media (min-width: 1200px) {
    .container {
        width: 600px;
    }
}

.SaveBtn {
    position: absolute;
    right: 1%;
    bottom: 1%;
    margin: 1%;
}

.displayOnlyForReaders {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
/*Styling modal*/
.ReactModal-open {
    overflow: hidden;
}
