/*Large desktops and laptops*/
@media (min-width: 1192px) {
    p {
        font-size: 1em;
    }

    ListItem {
        font-size: 1em;
    }

    TextField {
        font-size: 1em;
    }

    .container {
        width: 600px;
    }
}

/*Landscape tablets and medium desktops eg. laptop with HidPI Screen */
@media (min-width: 992px ) and (max-width: 1192px) {
    h1 {
        font-size: 1.5em;
        font-stretch: expanded;
    }

    h3{
        font-size: 1.4em;
    }

    h4 {
        font-size: medium;
        font-stretch: expanded;
    }

    p{
        font-size: 1em;
    }
}

/*Portrait tablets and small desktops eg. Ipad*/
@media (min-width: 768px) and (max-width: 991px) {
    Divider {
        margin: auto;
    }

    h1 {
        font-size: 1.9em;
        font-stretch: expanded;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1em;
    }

    p {
        font-size: small;
    }

    .CustomP{ /*Class to adapt paragraph for letters in Ipad mode*/
        width: 30em;
    }
}

@media(max-width:767px){
    h3{
        font-size: 1.7em;
    }
    .hideFromMobile{
        visibility: hidden;
    }

    .EditBtn {
        position: absolute;
        right: 34.2%;
        bottom: 0%;
    }

    .GamificationBar {
        width: 25em;
    }
}


.CardHeader {
    padding-top: 15px;
    margin-right: 1em;
    margin-left: 1em;
    width: auto;
}

.Li.Info {
    paddingTop: 0px;
    width: 620px;
    left: 38px;
    bottom: 15px;
}

.Li.Header{
    color:   #000000;
}

.MenuItem{
    color: black;
}

.HLine {
    margin-right: 1em;
    margin-left: 1em;
}

.Icon {
    /*margin-top: 40px;*/
    margin-top: 2%;
}

.Feed {
    margin-bottom: 3em;
}

.CardText{
    padding: 0px;
}

.CardPicture.Medium{
    width:  60px;
    height: auto;
}

.CardPicture.Small{
    width: 48px;
    height: auto;
}

.EditInfo {
    margin-left: 1.5em;
}

.InfoBtn {
    position: absolute;
    right: 7%;
    top: 2%;
}


.ToggleBtn {
    position: absolute;
    left: 3.2%;
    bottom: 0;
}

.ReservationBtn{
    text-align:center;
}

.SaveBtn {
    position: absolute;
    right: 1%;
    bottom: 1%;
    margin: 1%;
}

.displayOnlyForReaders {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
/*Styling modal*/
.ReactModal-open {
    overflow: hidden;
}
