/*Large desktops and laptops*/
@media (min-width: 1192px) {
    p {
        font-size: 1em;
    }

    ListItem {
        font-size: 1em;
    }

    TextField {
        font-size: 1em;
    }
}

/*Landscape tablets and medium desktops eg. laptop with HidPI Screen */
@media (min-width: 992px ) and (max-width: 1192px) {
    h1 {
        font-size: 1.5em;
        font-stretch: expanded;
    }
    h4 {
        font-size: medium;
        font-stretch: expanded;
    }

    p{
        font-size: 1em;
    }
}

/*Portrait tablets and small desktops eg. Ipad*/
@media (min-width: 768px) and (max-width: 991px) {
    Divider {
        margin: auto;
    }

    h1 {
        font-size: 1.9em;
        font-stretch: expanded;
    }
    h4 {
        font-size: 1em;
    }

    p {
        font-size: small;
    }

    .CustomP{ /*Class to adapt place for letters in Ipad mode*/
        width: 30em;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    body {
        margin: auto;
        padding: auto;
    }
}

.Card {
    height: 25em;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.CardHeader {
    padding-top: 15px;
    margin-right: 1em;
    margin-left: 1em;
    width: auto;
}

.Li {
}

.Li.Info {
    paddingTop: 0px;
    width: 620px;
    left: 38px;
    bottom: 15px;
}

.Li.Header{
    color:   #000000;
}

.MenuItem{
    color: black;
}

.EditBtn {
    position: absolute;
    right: 3.2%;
    bottom: 0;

}

.EditInfo {
    margin-left: 1.5em;
}

.HLine {
    margin-right: 1em;
    margin-left: 1em;
}

.Icon {
    margin-top: 40px;
}

.CardText{
    padding: 0px;
}

.CardPicture.Medium{
    width:  60px;
    height: auto;
}


.CardPicture.Small{
    width: 48px;
    height: auto;
}

.Feed {
    margin-bottom: 3em;
}

/**/


.EditBtn {
    position: absolute;
    right: 3.2%;
    bottom: 0%;
}

.InfoBtn {
    position: absolute;
    right: 7%;
    top: 2%;
}

.EditInfo {
    margin-left: 1.5em;
}

.Icon {
    margin-top: 40px;
}
/**/


.ToggleBtn {
    position: absolute;
    left: 3.2%;
    bottom: 0;
}

/*Styling modal*/
.ReactModal-open {
    overflow: hidden;
}

.ReservationBtn{
    text-align:center;
}

@media (min-width: 1200px) {
    .container {
        width: 600px;
    }
}

.SaveBtn {
    position: absolute;
    right: 1%;
    bottom: 1%;
    margin: 1%;
}



