html,
body {
    height: 100%;
}

/*Share on Facebook btn*/
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    line-height: 22px;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    position: absolute;
    right: 1.8%;
    bottom: 3.2%;
}

/*Gamification*/
.gameLog {
    text-align: center;
    margin: auto;
    width: 60%;
}

.gamificationContainer {
    padding: 1em;
    position: relative;
}

.hr {
    margin: 2.2em 0.3em 0 0.3em;
}

.Icon {
    margin-top: 2%;
    margin-left: 1em;
}

.Nav {
    padding: 3em 7em 3em 7em;
    margin-bottom: 2em;
}

.pageheader {
    margin: 0 0 0.5em 0;
    background-color: #EBEBEB;
    padding: 0.3em;
    min-height: 2.5em;
}

.ProgressBar {
    margin-top: 2em;
    margin-bottom: 2em;
}

/*Large desktops*/
@media (min-width: 1193px) {
    .LogInBtn {
        position: fixed;
        top: 50%;
        left: 45%;
    }

    .BodyDiv {
        margin-right: 6em;
        margin-left: 6em;
        min-width: 30em;
    }


    .Card {
        height: 25em;
        width: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/*Landscape tablets and medium desktops eg. laptop with HidPI Screen */
@media (min-width: 992px ) and (max-width: 1192px) {
    .LogInBtn {
        position: fixed;
        top: 50%;
        left: 38%;
    }

    .BodyDiv {
        margin-right: 5em;
        margin-left: 5em;
        min-width: 30em;
    }


    .Card {
        height: 25em;
        width: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/*Portrait tablets and small desktops eg. Ipad*/
@media (min-width: 768px) and (max-width: 991px) {
    .LogInBtn {
        position: fixed;
        top: 50%;
        left: 35%;
    }

    .BodyDiv {
        margin-right: 4em;
        margin-left: 4em;
        min-width: 30em;
    }

    .Card {
        height: 25em;
        width: 20em;
        overflow-y: auto;
        overflow-x: hidden;
    }

}

/* landscape phones */
@media (min-width: 481px) and (max-width: 767px) {
    .LogInBtn{
        position:fixed;
        top: 50%;
        left: 30%;
    }

    .BodyDiv {
        margin-right: 3em;
        margin-left: 3em;
        min-width: 30em;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .LogInBtn{
        position:fixed;
        top: 50%;
        left: 21%;
    }

    .BodyDiv {
        margin-right: 2em;
        margin-left: 2em;
        min-width: 30em;
    }

    .Card {
        height: 25em;
        width: 23em;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

