html,
body {
    height: 100%;
}

.BodyDiv {
    margin-right: 7em;
    margin-left: 7em;
}

#navbar {
    width: 100%;
}

.pageheader {
    margin: 0 0 0.5em 0;
    background-color: #EBEBEB;
    padding: 0.3em;
    min-height: 2.5em;
}


.Icon {
    margin-top: 2%;
    margin-left: 1em;
}

.LogInBtn {
    position:fixed;
    top: 50%;
    left: 45%;

}

.Nav {
    padding: 3em 7em 3em 7em;
    margin-bottom: 2em;
}

.hr {
    margin: 2.2em 0.3em 0 0.3em;
}