html,
body {
    height: 100%;
}

.BodyDiv {
    margin-right: 7em;
    margin-left: 7em;
}

#navbar {
    width: 100%;
}

.pageheader {
    width: 22%;
    margin: 3em 0 1.5em 0;
}


.Icon {
    margin-top: 2%;
}

.LogInBtn {
    position:fixed;
    top: 50%;
    left: 45%;

}

/*.NavTab {*/
    /*color: #f6aa6f;*/
/*}*/

.Nav {
    padding: 3em 7em 3em 7em;
}