@media (min-width: 1192px) {
    p {
        font-size: 1em;
    }

    TextField {
        font-size: 1em;
    }
}

@media (min-width: 992px ) and (max-width: 1192px) {


    h1 {
        font-size: 1.5em;
        font-stretch: expanded;
    }

    h3{
        font-size: 1.4em;
    }

    h4 {
        font-size: medium;
        font-stretch: expanded;
    }

    p{
        font-size: 1em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {


    h1 {
        font-size: 1.9em;
        font-stretch: expanded;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1em;
    }

    p {
        font-size: small;
    }

    .CustomP{ /*Class to adapt paragraph for letters in Ipad mode*/
        width: 30em;
    }
}

@media(max-width:767px){
    h3{
        font-size: 1.7em;
    }
}